<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  UserService  -->
    <bean id="userServiceImpl" class="com.kezhang.service.impl.UserServiceImpl"
          scope="singleton" lazy-init="false" init-method="initUserServiceImpl" destroy-method="destroyUserServiceImpl">
        <!-- 默认采用无参数构造实例化 -->
        <!-- setter依赖注入 -->
        <property name="userDAO" ref="userDAO" />
        <!-- 注入ToolA -->
        <property name="toolA" ref="toolA" />
        <!-- 注入ToolB -->
        <property name="toolB" ref="toolB" />
        <!-- 注入ToolC -->
        <property name="toolC" ref="toolC" />
    </bean>
</beans>